*{
   font-family: "Inter";
   margin: 0;
   padding: 0;
}

/* style of navigation area */
header{
   background-color: rgb(35, 32, 32);
}
.nav-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 200px;
   margin-bottom: 80px;
}

.nav-container h2{
   color: rgb(230, 83, 60);
   font-weight: 700;
   font-style: italic;
   font-size: xx-large;
   margin-top: 20px;
}

.nav-container ul{
   color: white;
   list-style: none;
   display: flex;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 39px;
   padding: 10px 0px;
   margin-top: 20px;

}

.nav-container ul li a{
   color: white;
   text-decoration: none;
   font-weight: 600;
   margin: 0px 20px;
}

.home-style{
   border-radius: 46px;
   background: rgb(230, 83, 60);
   padding: 10px 15px;
}


/* style of banner section */
.banner-container{
   background-image: url('../images/bannar.png');
   background-repeat: no-repeat;
   background-size:contain;
   height: 600px;
   background-position: right;
   margin-right: 200px;
}

.banner-heading{
   display: flex;
   color: white;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   
}

.banner-title{
   color: rgb(255, 255, 255);
   margin-left: 200px;
   font-family: Inter;
   font-size: 60px;
   font-weight: 700;
   line-height: 120%;
   letter-spacing: 0%;
   text-align: left;
}

.banner-title span{
   font-weight: 100;
   font-style: italic;
}

.banner-button{
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 12px;
   color: white;
   backdrop-filter: blur(20px);
   background: rgba(255, 255, 255, 0.1);
   padding: 10px;
   margin-left: 200px;
   
}

.banner-button h1{
   font-weight: 800;
}

.banner-button p{
   font-weight: 100;
   font-size: small;
}

.banner-details{
   color: rgba(255, 255, 255, 0.5);
   font-family: Inter;
   font-size: 16px;
   font-weight: 400;
   text-align: left;
   width: 450px;
   margin-left: 200px;
   margin-top: 20px;
}

.banner-btn-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 50px;
   width: 65%;
}

.download-join-btn{
   margin-left: 200px;
}

.join-btn{
   border-radius: 42px;
   background: rgb(230, 83, 60);
   padding: 16px 40px 16px 40px;
   color: white;
   border: none;
   font-weight: 600;
   font-size: large;
}

.join-btn:hover{
   background-color: brown;
   text-decoration: underline;
}

.download-btn{
   padding: 16px 40px 16px 40px;
   font-weight: 600;
   font-size: large;
   border: 1px solid rgba(255, 255, 255, 0.1);
   border-radius: 42px;
   color: white;
   backdrop-filter: blur(20px);
   background: rgba(255, 255, 255, 0.1);
}

.download-btn:hover{
   background-color: rgb(80, 71, 71);
   text-decoration: underline;
}